@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.windowO {
  animation: windowOpen 0.3s ease-in-out forwards;
  /* transform-origin: top; */
}

.windowC {
  animation: windowClose 0.3s ease-in-out forwards;
  display: hidden;
  /* transform-origin: top; */
}

@keyframes windowOpen {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes windowClose {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
